<div class="wrapper">
  <div class="header header-logged-in true" role="banner">
    <div class="container clearfix">
      <a class="header-logo-invertocat" href="https://github.com/" data-hotkey="g d" aria-label="Homepage" data-ga-click="Header, go to dashboard, icon:logo">
        <span class="mega-octicon octicon-mark-github"></span>
      </a>
      <div class="site-search  js-site-search" role="search">
        <form accept-charset="UTF-8" action="/search" class="js-site-search-form" data-global-search-url="/search" data-repo-search-url="" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>
          <label class="js-chromeless-input-container form-control">
          <div class="scope-badge">This repository</div>
          <input type="text"
            class="js-site-search-focus  chromeless-input"
            data-hotkey="s"
            name="q"
            placeholder="Search GitHub"
            data-global-scope-placeholder="Search GitHub"
            data-repo-scope-placeholder="Search"
            tabindex="1"
            autocapitalize="off">
          </label>
        </form>
      </div>
      <ul class="header-nav left" role="navigation">
        <li class="header-nav-item explore">
          <a class="header-nav-link" href="https://github.com/explore" data-ga-click="Header, go to explore, text:explore">Explore</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="https://gist.github.com" data-ga-click="Header, go to gist, text:gist">Gist</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="https://github.com/blog" data-ga-click="Header, go to blog, text:blog">Blog</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="https://help.github.com" data-ga-click="Header, go to help, text:help">Help</a>
        </li>
      </ul>
      <ul class="header-nav user-nav right" id="user-links">
        <li class="header-nav-item dropdown js-menu-container">
          <a class="header-nav-link name" href="https://github.com/<%= @user.username %>" data-ga-click="Header, go to profile, text:username">
            <img alt="@<%= @user.username %>" class="avatar" height="20" src="https://avatars3.githubusercontent.com/u/<%= @user.user_id %>?v=3&amp;s=40" width="20" />
            <span class="css-truncate">
              <span class="css-truncate-target"><%= @user.username %></span>
            </span>
          </a>
        </li>

        <li class="header-nav-item dropdown js-menu-container">
          <a class="header-nav-link js-menu-target tooltipped tooltipped-s" href="https://github.com/new" aria-label="Create new..." data-ga-click="Header, create new, icon:add">
            <span class="octicon octicon-plus"></span>
            <span class="dropdown-caret"></span>
          </a>
          <div class="dropdown-menu-content js-menu-content">
            <ul class="dropdown-menu">
              <li>
                <a href="https://github.com/new" data-ga-click="Header, create new repository, icon:repo"><span class="octicon octicon-repo"></span> New repository</a>
              </li>
              <li>
                <a href="https://github.com/organizations/new" data-ga-click="Header, create new organization, icon:organization"><span class="octicon octicon-organization"></span> New organization</a>
              </li>
            </ul>
          </div>
        </li>

        <li class="header-nav-item">
          <span class="js-socket-channel js-updatable-content"
            data-channel="notification-changed:<%= @user.username %>"
            data-url="/notifications/header">
            <a href="https://github.com/notifications" aria-label="You have no unread notifications" class="header-nav-link notification-indicator tooltipped tooltipped-s" data-ga-click="Header, go to notifications, icon:read" data-hotkey="g n">
              <span class="mail-status all-read"></span>
              <span class="octicon octicon-inbox"></span>
            </a>
          </span>
        </li>

        <li class="header-nav-item">
          <a class="header-nav-link tooltipped tooltipped-s" href="https://github.com/settings/profile" id="account_settings" aria-label="Settings" data-ga-click="Header, go to settings, icon:settings">
            <span class="octicon octicon-gear"></span>
          </a>
        </li>

        <li class="header-nav-item">
          <form accept-charset="UTF-8" action="/logout" class="logout-form" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="MsH55CQYyh4VjYUR2YDFJsZ/uZ3fj+QiumRvgKOy6pVezf4szKyAVfMp10jLmUNyZCgHv1EBdUgrmzYP00Kjfg==" /></div>
            <button class="header-nav-link sign-out-button tooltipped tooltipped-s" aria-label="Sign out" data-ga-click="Header, sign out, icon:logout">
              <span class="octicon octicon-sign-out"></span>
            </button>
          </form>
        </li>
      </ul>
      </div>
    </div>
  </div>
  <div id="start-of-content" class="accessibility-aid"></div>
  <div class="site clearfix" role="main">
    <div id="site-container" class="context-loader-container" data-pjax-container>
      <div class="container">
        <div class="columns profilecols">
          <div class="column one-fourth vcard" itemscope itemtype="http://schema.org/Person">
            <a href="https://github.com/account" aria-label="Change your avatar" class="vcard-avatar tooltipped tooltipped-s"><img alt="" class="avatar" height="230" src="https://avatars3.githubusercontent.com/u/<%= @user.user_id %>?v=3&amp;s=460" width="230" /></a>
            <h1 class="vcard-names">
              <span class="vcard-fullname" itemprop="name"><%= @user.real_name %></span>
              <span class="vcard-username" itemprop="additionalName"><%= @user.username %></span>
            </h1>
            <ul class="vcard-details">
              <li class="vcard-detail"><span class="octicon octicon-mail"></span>
                <a class="email"><%= @user.email %></a>
              </li>
              <li class="vcard-detail" itemprop="worksFor" title="<%= @user.company %>"><span class="octicon octicon-organization"></span><%= @user.company %></li>
              <li class="vcard-detail" itemprop="homeLocation" title="<%= @user.location %>"><span class="octicon octicon-location"></span><%= @user.location %></li>
              <li class="vcard-detail"><span class="octicon octicon-clock"></span><span class="join-label">Joined on </span><time class="join-date" datetime="<%= @user.join_date %>" day="numeric" is="local-time" month="short" year="numeric"><%= @user.join_date.strftime("%b %e, %Y") %></time></li>
            </ul>
            <div class="vcard-stats">
              <a class="vcard-stat" href="https://github.com/<%= @user.username %>/followers">
                <strong class="vcard-stat-count"><%= @user.number_of_followers %></strong>
                <span class="text-muted">Followers</span>
              </a>
              <a class="vcard-stat" href="https://github.com/stars">
                <strong class="vcard-stat-count"><%= @user.number_starred %></strong>
                <span class="text-muted">Starred</span>
              </a>
              <a class="vcard-stat" href="https://github.com/<%= @user.username %>/following">
                <strong class="vcard-stat-count"><%= @user.number_following %></strong>
                <span class="text-muted">Following</span>
              </a>
            </div>
          </div>
          <div class="column three-fourths">
            <div class="tabnav">
              <div class="right">
                <a href="https://github.com/account" class="btn btn-sm">
                  <span class="octicon octicon-pencil"></span>
                  Edit profile
                </a>
              </div>
              <nav class="tabnav-tabs" data-pjax role="navigation">
                <a href="https://github.com/<%= @user.username %>" class="tabnav-tab ">
                  <span class="octicon octicon-diff-added"></span>
                  Contributions
                </a>
                <a href="https://github.com/<%= @user.username %>?tab=repositories" class="tabnav-tab selected">
                  <span class="octicon octicon-repo"></span>
                  Repositories
                </a>
                <a href="https://github.com/<%= @user.username %>?tab=activity" class="tabnav-tab ">
                  <span class="octicon octicon-rss"></span>
                  Public activity
                </a>
              </nav>
            </div>
            <div class="tab-content js-repo-filter">
              <div class="repo-tab">
                <div class="filter-bar">
                  <a href="https://github.com/new" class="btn btn-primary new-repo">
                    <span class="octicon octicon-repo"></span>
                    New
                  </a>
                  <ul class="repo_filterer">
                    <li><a href="#" class="repo_filter js-repo-filter-tab" data-filter=".mirror">Mirrors</a></li>
                    <li><a href="#" class="repo_filter js-repo-filter-tab" data-filter=".fork">Forks</a></li>
                    <li><a href="#" class="repo_filter js-repo-filter-tab" data-filter=".source">Sources</a></li>
                    <li><a href="#" class="repo_filter js-repo-filter-tab" data-filter=".private">Private</a></li>
                    <li><a href="#" class="repo_filter js-repo-filter-tab" data-filter=".public">Public</a></li>
                    <li class="all_repos"><a href="#" class="repo_filter js-repo-filter-tab filter-selected" data-filter=".public, .private">All</a></li>
                  </ul>
                  <form accept-charset="UTF-8" action="/search" class="repo-search" method="get" role="search"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>
                    <input type="hidden" name="user" value="<%= @user.username %>">
                    <input type="text" id="your-repos-filter" name="q" class="filter_input js-filterable-field" placeholder="Find a repository&hellip;" tabindex="2">
                    <input type="submit" value="Search" class="btn">
                  </form>
                </div>
                <ul class="repo-list js-repo-list" data-filterable-for="your-repos-filter" data-filterable-type="substring">
                  <% @user.repo_array.each do |repo| %>
                    <li class="repo-list-item public source">
                      <div class="repo-list-stats">
                        <%= repo['language'] %>
                        <a class="repo-list-stat-item tooltipped tooltipped-s" href="https://github.com/<%= @user.username %>/<%= repo['name'] %>/stargazers" aria-label="Stargazers">
                          <span class="octicon octicon-star"></span>
                          <%= repo['stargazers_count'] %>
                        </a>
                        <a class="repo-list-stat-item tooltipped tooltipped-s" href="https://github.com/<%= @user.username %>/<%= repo['name'] %>/network"  aria-label="Forks">
                          <span class="octicon octicon-git-branch"></span>
                          <%= repo['forks_count'] %>
                        </a>
                      </div>
                      <h3 class="repo-list-name">
                        <a href="https://github.com/<%= @user.username %>/<%= repo['name'] %>">
                          <%= repo['name'] %></a>
                      </h3>
                      <p class="repo-list-description">
                        <%= repo['description'] %>
                      </p>
                      <p class="repo-list-meta">
                        Updated <time datetime="2015-06-02T17:38:33Z" is="relative-time">Jun 2, 2015</time>
                      </p>
                      <div class="participation-graph">
                        <poll-include-fragment src="/<%= @user.username %>/<%= repo['name'] %>/graphs/participation?h=80&amp;w=640"></poll-include-fragment>
                      </div>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop"></div>
</div>
